# Backup of the catalog:
FileSet {
  Name = "Catalog"
  Include {
    Options {
      signature = SHA1
      compression = GZIP
      verify = pins1
    }
    File = "{{ bacula_workingDirectory }}"
    File = "{{ bacula_workingDirectory }}/bacula.sql"
  }
}

# Backup everything:
FileSet {
  Name = "FullSet"
  Include {
    Options {
      signature = {{ bacula_fd_fileSet_signature }}
      compression = {{ bacula_fd_fileSet_compression }}
      verify = {{ bacula_fd_fileSet_verify }}
      onefs = yes
      # fstype = ext4
    }

    #  Put your list of files here, preceded by 'File =', one per line
    #    or include an external list with:
    #
    #    File = <file-name
    #
    #  Note: / backs up everything on the root partition.
    #    if you have other partitions such as /usr or /home
    #    you will probably want to add them too.
    #

    # when onefs=no, this will exclude submounts
    # when onefs=yes, this will include network-drives
    # File = /

    # All local ext3,4, ... partitions
    File = "\\|bash -c \"df -klF ext3 | tail +2 | awk '{print \$6}'\""
    File = "\\|bash -c \"df -klF ext4 | tail +2 | awk '{print \$6}'\""
    File = "\\|bash -c \"df -klF xfs | tail +2 | awk '{print \$6}'\""
    File = "\\|bash -c \"df -klF zfs | tail +2 | awk '{print \$6}'\""
  }

  # If you backup the root directory, the following excluded
  # files can be useful

  # Exclude {
  #   File = /proc
  #   File = /tmp
  #   File = /sys
  #   File = /.journal
  #   File = /.fsck
  #}
}

FileSet {
  Name = "Standard"
  Include {
    Options {
      signature = SHA1
      compression = GZIP
      verify = pins1
    }
    File = "/etc"
    File = "/home"
    File = "/root"
    File = "/var/log"
  }
}

{% if bacula_dir_fileset_extra_template is defined %}
{% include bacula_dir_fileset_extra_template %}
{% endif %}
